.listContainer {
  overflow: auto;
  max-height: 50vh;

  .greenyellow {
    color: greenyellow;
  }

  .darkred {
    color: darkred;
  }

  .box {
    display: inline-block;
  }

  mat-icon {
    vertical-align: top;
  }

}

