<section class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to calculation game</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img mat-card-image src="assets/calc.jpg" alt="Photo of a Math operations">
    </mat-card-content>

    <mat-card-actions class="buttonContainer">
      <p>Click to the button below to start the game</p>
      <button data-testid="startButton" class="button" mat-fab color="primary" aria-label="Play button" routerLink="/game">
        <mat-icon>
          play_arrow
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
